@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BurialsViewModel

<table class="table table-striped text-center">
    <thead>
		<tr>
			<th scope="col">Humerus length</th>
			<th scope="col">Femur length</th>
			<th scope="col">Perservation Index</th>
			<th scope="col">Osteophytosis</th>
			<th scope="col">Nuchal Crest</th>
			<th scope="col">Femur Head Diameter</th>
			<th scope="col">Supraorbital Ridges</th>
			<th scope="col">Orbit Edge</th>
			<th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model.Bodyanalysischarts)
        {
            <tr scope="row">
                <td>@b.Humeruslength</td>
                <td>@b.Femurlength</td>
                <td>@b.Perservationindex</td>
                <td>@b.Osteophytosis</td>
                <td>@b.Nuchalcrest</td>
                <td>@b.Femurheaddiameter</td>
                <td>@b.Supraorbitalridges</td>
                <td>@b.Orbitedge</td>
                <td>
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="@("#bodyAnalysisDetails-" + b.Id)" data-url="@Url.Action($"BodyAnalysisDetails/{b.Id}")">
                        See More
                    </button>
                    @await Html.PartialAsync("_BodyAnalysisPartial", b)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <div page-model="" page-blah="@Model.PageInfo" page-action="Burials" page-class="btn" page-class-normal="btn-outline-secondary" page-class-selected="btn-primary" page-class-enabled="true" class="btn-group m-1"></div>
</div>