@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Burialmain

<!-- Modal -->
<div class="modal fade" id="burialDetails-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="burialDetailsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="burialDetailsLabel">Burial Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>Burial for @Model.Squarenorthsouth @Model.Northsouth @Model.Squareeastwest @Model.Eastwest @Model.Area @Model.Burialnumber</h6>
                    
                <p>Location: @Model.Squarenorthsouth @Model.Northsouth @Model.Squareeastwest @Model.Eastwest @Model.Area @Model.Burialnumber</p>

				@if (Model.Adultsubadult != null)
				{
					<p><b>Age Range:</b> @Model.Adultsubadult</p>
				}

                @if (Model.Ageatdeath != null)
                {
                    <p><b>Age at Death:</b> @Model.Ageatdeath</p>
                }

                @if (Model.Burialid != null)
                {
                    <p><b>Burial Id:</b> @Model.Burialid</p>
                }

                @if (Model.Burialmaterials != null)
                {
                    <p><b>Burial Materials:</b> @Model.Burialmaterials</p>
                }

                @if (Model.Dataexpertinitials != null)
                {
                    <p><b>Expert Initials:</b> @Model.Dataexpertinitials</p>
                }
                
                @if (Model.Clusternumber != null)
                {
                    <p><b>Cluster:</b> @Model.Clusternumber</p>
                }

                @if (Model.Dateofexcavation != null)
                {
                    <p><b>Date of Excavation:</b> @Model.Dateofexcavation</p>
                }

                @if (Model.Depth != null)
                {
                    <p><b>Depth:</b> @Model.Depth</p>
                }

                @if (Model.Excavationrecorder != null)
                {
                    <p><b>Excavation Reorder:</b> @Model.Excavationrecorder</p>
                }

                @if (Model.Facebundles != null)
                {
                    <p><b>Face Bundles:</b> @Model.Facebundles</p>
                }

                @if (Model.Fieldbookexcavationyear != null)
                {
                    <p><b>Fieldbook Excavation Year:</b> @Model.Fieldbookexcavationyear</p>
                }

                @if (Model.Fieldbookpage != null)
                {
                    <p><b>Fieldbook Page:</b> @Model.Fieldbookpage</p>
                }

                @if (Model.Goods != null)
                {
                    <p><b>Goods:</b> @Model.Goods</p>
                }

                @if (Model.Hair != null)
                {
                    <p><b>Hair:</b> @Model.Hair</p>
                }

                @if (Model.Headdirection != null)
                {
                    <p><b>Head Direction:</b> @Model.Headdirection</p>
                }

                @if (Model.Haircolor != null)
                {
                    <p><b>Hair Color:</b> @Model.Haircolor</p>
                }

                @if (Model.Length != null)
                {
                    <p><b>Length:</b> @Model.Length</p>
                }

                @if (Model.Photos != null)
                {
                    <p><b>Photos:</b> @Model.Photos</p>
                }


                @if (Model.Preservation != null)
                {
                    <p><b>Preservation:</b> @Model.Preservation</p>
                }

                @if (Model.Samplescollected != null)
                {
                    <p><b>Samples Collected:</b> @Model.Samplescollected</p>
                }

                @if (Model.Sex != null)
                {
                    <p><b>Sex:</b> @Model.Sex</p>
                }

                @if (Model.Shaftnumber != null)
                {
                    <p><b>Shaft Number:</b> @Model.Shaftnumber</p>
                }

                @if (Model.Southtofeet != null)
                {
                    <p><b>South to Feet:</b> @Model.Southtofeet</p>
                }

                @if (Model.Southtohead != null)
                {
                    <p><b>South to Head:</b> @Model.Southtohead</p>
                }

                @if (Model.Text != null)
                {
                    <p><b>Text:</b> @Model.Text</p>
                }

                @if (Model.Westtofeet != null)
                {
                    <p><b>West to Feet:</b> @Model.Westtofeet</p>
                }

                @if (Model.Westtohead != null)
                {
                    <p><b>West to Head:</b> @Model.Westtohead</p>
                }

                @if (Model.Wrapping != null)
                {
                    <p><b>Wrapping:</b> @Model.Wrapping</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>