@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Burialmain>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var b in Model){
        <tr>
            <th scope="row">@b.Id</th>
                <td>@b.Squarenorthsouth</td>
                <td>@b.Headdirection</td>
                <td>@b.Sex</td>
                <td>@b.Northsouth</td>
                <td>@b.Depth</td>
                <td>@b.Eastwest</td>
                <td>@b.Adultsubadult</td>
                <td>@b.Facebundles</td>
                <td>@b.Southtohead</td>
                <td>@b.Preservation</td>
                <td>@b.Fieldbookpage</td>
                <td>@b.Squareeastwest</td>
                <td>@b.Goods</td>
                <td>@b.Wrapping</td>
                <td>@b.Haircolor</td>
                <td>@b.Westtohead</td>
                <td>@b.Samplescollected</td>
                <td>@b.Area</td>
                <td>@b.Burialid</td>
                <td>@b.Length</td>
                <td>@b.Burialnumber</td>
                <td>@b.Dataexpertinitials</td>
                <td>@b.Westtofeet</td>
                <td>@b.Ageatdeath</td>
                <td>@b.Southtofeet</td>
                <td>@b.Excavationrecorder</td>
                <td>@b.Photos</td>
                <td>@b.Hair</td>
                <td>@b.Burialmaterials</td>
                <td>@b.Dateofexcavation</td>
                <td>@b.Dateofexcavation</td>
                <td>@b.Clusternumber</td>
                <td>@b.Shaftnumber</td>
        </tr>
        }
    </tbody>
</table>