@{
}

@model BurialsViewModel

<div class="container text-center">
    <h1 class="display-4">Burials</h1>
    <p>Information about the different burials</p>
</div>

<div id="filters" class="col-3">
    <div id="filters" class="col-3">
        <vc:filters-view-components></vc:filters-view-components>
    </div>
</div>

<div class="custom-container">
    <div class="row">
        <div class="col-3">
            <a asp-controller="Home" asp-action="Burials" asp-route-table="BurialMain"
               class="mb-1 btn @(ViewBag.SelectedTable == "BurialMain" ? "btn-primary" : "btn-outline-secondary")">
                Burial Main
            </a>
            <a asp-controller="Home" asp-action="Burials" asp-route-table="BodyAnalysisChart"
               class="mb-1 btn @(ViewBag.SelectedTable == "BodyAnalysisChart" ? "btn-primary" : "btn-outline-secondary")">
                Body Analysis Chart
            </a>
            <a asp-controller="Home" asp-action="Burials" asp-route-table="Textiles"
               class="mb-1 btn @(ViewBag.SelectedTable == "Textiles" ? "btn-primary" : "btn-outline-secondary")">
                Texitiles
            </a>

            <a asp-controller="Home" asp-action="Burials" asp-route-table="TextileStructures"
               class="mb-1 btn @(ViewBag.SelectedTable == "TextileStructures" ? "btn-primary" : "btn-outline-secondary")">
                Textile Structures
            </a>
            <a asp-controller="Home" asp-action="Burials" asp-route-table="TextileFunctions"
               class="mb-1 btn @(ViewBag.SelectedTable == "TextileFunctions" ? "btn-primary" : "btn-outline-secondary")">
                Textile Functions
            </a>
            <a asp-controller="Home" asp-action="Burials" asp-route-table="TextileColors"
               class="mb-1 btn @(ViewBag.SelectedTable == "TextileColors" ? "btn-primary" : "btn-outline-secondary")">
                Textile Colors
            </a>
        </div>


    
        <div class="col-9">
            @*we need razor code and have an if statement to figure out which table partial to display*@

            @if (ViewBag.SelectedTable == "BurialMain")
            {
                <partial name="_BurialMainTable" />
            }
            else if (ViewBag.SelectedTable == "BodyAnalysisChart")
            {
                <partial name="_BodyAnalysisChartTable" />
            }
            else if (ViewBag.SelectedTable == "Textiles")
            {
                <partial name="_TextileTable" />
            }
            else if (ViewBag.SelectedTable == "TextileStructures")
            {
                <partial name="_TextileStructureTable" />
            }
            else if (ViewBag.SelectedTable == "TextileFunctions")
            {
                <partial name="_TextileFunctionTable" />
            }
            else if (ViewBag.SelectedTable == "TextileColors")
            {
                <partial name="_ColorTable" />
            }
            else
            {
                <partial name="_BurialMainTable" />
            }

        </div>
    </div>
</div>