@{
}

@model List<Burialmain>

<div class="container text-center">
    <h1 class="display-4">Burials</h1>
    <p>Information about the different burials</p>
</div>

<div class="custom-container">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">Burial Location</td>
                <th scope="col">Depth</td>
                <th scope="col">Length</td>
                <th scope="col">Head Direction</td>
                <th scope="col">Preservation</td>
                <th scope="col">Wrapping</td>
                <th scope="col">Sex</th>
                <th scope="col">Age at Death</th>
                <th scope="col">Hair Color</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model)
            {
                <tr scope="row">
					<td>@b.Squarenorthsouth @b.Northsouth @b.Squareeastwest @b.Eastwest @b.Area @b.Burialnumber</td>
					<td>@b.Depth</td>
					<td>@b.Length</td>
					<td>@b.Headdirection</td>
					<td>@b.Preservation</td>
					<td>@b.Wrapping</td>
					<td>@b.Sex</td>
					<td>@b.Ageatdeath</td>
					<td>@b.Haircolor</td>
                </tr>
            }
        </tbody>
    </table>
</div>