@{
    ViewData["Title"] = "Burials";
}

@model BurialsViewModel

@*Table Title/Description (Based on Selected Table)*@
<div class="text-center mt-5" style="margin-top: 100px;">
    
    <div class="pt-5">
        @if (ViewBag.SelectedTable == "BurialMain")
        {
            <h1 class="display-4">Burials</h1>
            <h3>Information about the discovered burials</h3>
        }
        else if (ViewBag.SelectedTable == "BodyAnalysisChart")
        {
            <h1 class="display-4">Body Analysis Chart</h1>
            <h3>Information about the discovered remains</h3>
        }
        else if (ViewBag.SelectedTable == "Textiles")
        {
            <h1 class="display-4">Textiles</h1>
            <h3>Information about the discoverd textiles</h3>
        }
        else if (ViewBag.SelectedTable == "TextileStructures")
        {
            <h1 class="display-4">Textile Structures</h1>
            <h3>Information about the discovered textiles' structure(s)</h3>
        }
        else if (ViewBag.SelectedTable == "TextileFunctions")
        {
            <h1 class="display-4">Textile Functions</h1>
            <h3>Information about the discovered textiles' function(s)</h3>
        }
        else if (ViewBag.SelectedTable == "TextileColors")
        {
            <h1 class="display-4">Textile Colors</h1>
            <h3>Information about the discovered textiles' color(s)</h3>
        }
        else
        {
            <h1 class="display-4">Burials</h1>
            <p class="display-6">Information about the discovered burials</p>
        }
    </div>




    <div class="container text-center mt-3 mb-3">
        <a class="btn btn-outline-secondary" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">
            Filter
        </a>
    </div>

    <div id="filters" class="collapse">

        @if (ViewBag.SelectedTable == "BurialMain")
        {
            <form method="post" asp-controller="Home" asp-action="Burials" asp-route-table="BurialMain" class="mb-3">
                <div class="container">
                    <div class="row">

                        <div class="form-group col">
                            <label for="SquareNorthSouthInput">North/South Square</label>
                            <input type="text" class="form-control" id="SquareNorthSouthInput" name="SquareNorthSouth" placeholder="(190)">
                        </div>
                        <div class="form-group col">
                            <label for="NorthSouthInput">North/South Location</label>
                            <input type="text" class="form-control" id="NorthSouthInput" name="NorthSouth" placeholder="(N)">
                        </div>
                        <div class="form-group col">
                            <label for="SquareEastWestInput">East/West Square</label>
                            <input type="text" class="form-control" id="SquareEastWestInput" name="SquareEastWest" placeholder="(30)">
                        </div>
                        <div class="form-group col">
                            <label for="EastWestInput">East/West Location</label>
                            <input type="text" class="form-control" id="EastWestInput" name="EastWest" placeholder="(E)">
                        </div>
                        <div class="form-group col">
                            <label for="AreaInput">Area</label>
                            <input type="text" class="form-control" id="AreaInput" name="Area" placeholder="(NE)">
                        </div>
                        <div class="form-group col">
                            <label for="BurialNumberInput">Burial Number</label>
                            <input type="number" class="form-control" id="BurialNumberInput" name="BurialNumber" placeholder="(60)">
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="HeadDirectionInput">Head Direction</label>
                            <input type="text" class="form-control" id="HeadDirectionInput" name="HeadDirection" placeholder="(W)">
                        </div>
                        <div class="form-group col">
                            <label for="AgeAtDeathInput">Age at Death</label>
                            <input type="text" class="form-control" id="AgeAtDeathInput" name="AgeAtDeath" placeholder="(C)">
                        </div>
                        <div class="form-group col">
                            <label for="SexInput">Sex</label>
                            <input type="text" class="form-control" id="SexInput" name="Sex" placeholder="(F)">
                        </div>
                        <div class="form-group col">
                            <label for="HairColorInput">Hair Color</label>
                            <input type="text" class="form-control" id="HairColorInput" name="HairColor" placeholder="(B)">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        }
        else if (ViewBag.SelectedTable == "BodyAnalysisChart")
        {
            <form method="post" asp-controller="Home" asp-action="Burials" asp-route-table="BodyAnalysisChart" class="mb-3">
                <div class="container">
                    <div class="row">
                        <div class="form-group col">
                            <label for="EstimateStatureInput">Estimate Stature</label>
                            <input type="number" class="form-control" id="EstimateStatureInput" name="EstimateStature" placeholder="(50)">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        }
        else if (ViewBag.SelectedTable == "Textiles")
        {
            <form method="post" asp-controller="Home" asp-action="Burials" asp-route-table="Textiles" class="mb-3">
                <div class="container">
                    <div class="row">
                        <div class="form-group col">
                            <label for="TextileLocaleInput">Textile Locale</label>
                            <input type="text" class="form-control" id="TextileLocaleInput" name="Locale" placeholder="(150/160N 0/10W)">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        }
        else if (ViewBag.SelectedTable == "TextileStructures")
        {
            <form method="post" asp-controller="Home" asp-action="Burials" asp-route-table="TextileStructures" class="mb-3">
                <div class="container">
                    <div class="row">
                        <div class="form-group col">
                            <label for="StructureValueInput">Structure</label>
                            <input type="text" class="form-control" id="StructureValueInput" name="StructureValue" placeholder="(Textile Structure)">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        }
        else if (ViewBag.SelectedTable == "TextileFunctions")
        {
            <form method="post" asp-controller="Home" asp-action="Burials" asp-route-table="TextileFunctions" class="mb-3">
                <div class="container">
                    <div class="row">
                        <div class="form-group col">
                            <label for="TextileFunctionInput">Textile Function</label>
                            <input type="text" class="form-control" id="TextileFunctionInput" name="TextileFunction" placeholder="(Textile Function)">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        }
        else if (ViewBag.SelectedTable == "TextileColors")
        {
            <form method="post" asp-controller="Home" asp-action="Burials" asp-route-table="TextileColors" class="mb-3">
                <div class="container">
                    <div class="row">
                        <div class="form-group col">
                            <label for="TextileColorInput">Textile Color</label>
                            <input type="text" class="form-control" id="TextileColorInput" name="TextileColor" placeholder="(Textile Color)">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        }
        else
        {
            <form method="post" asp-controller="Home" asp-action="Burials" asp-route-table="BurialMain" class="mb-3">
                <div class="container">
                    <div class="row">

                        <div class="form-group col">
                            <label for="SquareNorthSouthInput">North/South Square</label>
                            <input type="text" class="form-control" id="SquareNorthSouthInput" name="SquareNorthSouth" placeholder="(190)">
                        </div>
                        <div class="form-group col">
                            <label for="NorthSouthInput">North/South Location</label>
                            <input type="text" class="form-control" id="NorthSouthInput" name="NorthSouth" placeholder="(N)">
                        </div>
                        <div class="form-group col">
                            <label for="SquareEastWestInput">East/West Square</label>
                            <input type="text" class="form-control" id="SquareEastWestInput" name="SquareEastWest" placeholder="(30)">
                        </div>
                        <div class="form-group col">
                            <label for="EastWestInput">East/West Location</label>
                            <input type="text" class="form-control" id="EastWestInput" name="EastWest" placeholder="(E)">
                        </div>
                        <div class="form-group col">
                            <label for="AreaInput">Area</label>
                            <input type="text" class="form-control" id="AreaInput" name="Area" placeholder="(NE)">
                        </div>
                        <div class="form-group col">
                            <label for="BurialNumberInput">Burial Number</label>
                            <input type="number" class="form-control" id="BurialNumberInput" name="BurialNumber" placeholder="(60)">
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="HeadDirectionInput">Head Direction</label>
                            <input type="text" class="form-control" id="HeadDirectionInput" name="HeadDirection" placeholder="(W)">
                        </div>
                        <div class="form-group col">
                            <label for="AgeAtDeathInput">Age at Death</label>
                            <input type="text" class="form-control" id="AgeAtDeathInput" name="AgeAtDeath" placeholder="(C)">
                        </div>
                        <div class="form-group col">
                            <label for="SexInput">Sex</label>
                            <input type="text" class="form-control" id="SexInput" name="Sex" placeholder="(F)">
                        </div>
                        <div class="form-group col">
                            <label for="HairColorInput">Hair Color</label>
                            <input type="text" class="form-control" id="HairColorInput" name="HairColor" placeholder="(B)">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        }
    </div>



    <div>
        <div class="text-center">
            <a class="btn btn-outline-success" asp-controller="Mummy" asp-action="BurialEntry">Create a new entry!</a>
        </div>
        <br />
    </div>

    @*The Table Filter buttons*@
    <div class="text-center">
	    <ul class="nav nav-tabs justify-content-center">
		    <li class="nav-item">
			    <a asp-controller="Home" asp-action="Burials" asp-route-table="BurialMain" asp-route-pageNum="1"
	      class="nav-link @(ViewBag.SelectedTable == "BurialMain" ? "active" : "")@(ViewBag.SelectedTable == null ? "active" : "")">
				    Burial Main
			    </a>
		    </li>
		    <li class="nav-item">
			    <a asp-controller="Home" asp-action="Burials" asp-route-table="BodyAnalysisChart"
	      class="nav-link @(ViewBag.SelectedTable == "BodyAnalysisChart" ? "active" : "")">
				    Body Analysis Chart
			    </a>
		    </li>
		    <li class="nav-item">
			    <a asp-controller="Home" asp-action="Burials" asp-route-table="Textiles"
	      class="nav-link @(ViewBag.SelectedTable == "Textiles" ? "active" : "")">
				    Texitiles
			    </a>
		    </li>
		    <li class="nav-item">
			    <a asp-controller="Home" asp-action="Burials" asp-route-table="TextileStructures"
	      class="nav-link @(ViewBag.SelectedTable == "TextileStructures" ? "active" : "")">
				    Textile Structures
			    </a>
		    </li>
		    <li class="nav-item">
			    <a asp-controller="Home" asp-action="Burials" asp-route-table="TextileFunctions"
	      class="nav-link @(ViewBag.SelectedTable == "TextileFunctions" ? "active" : "")">
				    Textile Functions
			    </a>
		    </li>
		    <li class="nav-item align-self-right">
			    <a asp-controller="Home" asp-action="Burials" asp-route-table="TextileColors"
	      class="nav-link @(ViewBag.SelectedTable == "TextileColors" ? "active" : "")">
				    Textile Colors
			    </a>
		    </li>
    </div>


    <div class="custom-container">

        @*The Table partials*@
        <div>

            @if (ViewBag.SelectedTable == "BurialMain")
            {
                <partial name="_BurialMainTable" />
            }
            else if (ViewBag.SelectedTable == "BodyAnalysisChart")
            {
                <partial name="_BodyAnalysisChartTable" />
            }
            else if (ViewBag.SelectedTable == "Textiles")
            {
                <partial name="_TextileTable" />
            }
            else if (ViewBag.SelectedTable == "TextileStructures")
            {
                <partial name="_TextileStructureTable" />
            }
            else if (ViewBag.SelectedTable == "TextileFunctions")
            {
                <partial name="_TextileFunctionTable" />
            }
            else if (ViewBag.SelectedTable == "TextileColors")
            {
                <partial name="_ColorTable" />
            }
            else
            {
                <partial name="_BurialMainTable" />
            }
        </div>

    </div>
</div>